header {
  color: #ff5a00;
}

.container {
  
}
.header-top {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.link-sns {
  list-style-type: none;
  display: flex;
}

.link-sns li {
  margin: 10px;

}

.link-sns a {
  color: gray;
  font-size: 15px;
}

hr {
  border-width: 3px;
  border-color: #ff5a00;
}

.row {
  padding-top: 15px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.align-right {
  text-align: right;
  
}
.align-right a {
  color: #000;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  align-items: center;
}
.align-right span {
  color: #000;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
}

.align-right i {
  margin-top: 5px;
}

.swiper-slide {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide.slide1 {
  background-image: url(../img/slide1.png);
}
.swiper-slide.slide2 {
  background-image: url(../img/slide6.jpg);
}
.swiper-slide.slide3 {
  background-image: url(../img/slide2.png);
}

.link-sns-row {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.link-sns-row li {
  margin: 10px;

}

.link-sns-row a {
  color: gray;
  font-size: 30px;
}

.footer-nav {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
}
.footer-nav a {
  color: #000;
  
}

.copyright {
  background-color: #e5e5e5;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 33px;
  margin-top: 40px;
}
.movie {
  background-image: url(../)
}