header {
  margin-top: 30px;
  color: #ff5a00;
}

hr {
  border-width: 3px;
  border-color: #ff5a00;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.align-right {
  text-align: right;
}