.header_bg {
  background-image: url(../img/slide1.png);
  max-width: 1400px;
  height: 397px;
  background-size: cover;
}

header {
  margin: 0 auto;
  width: 950px;
}

.logo {
  margin-top: 25px;
}

.telbox {
  margin-top: 25px;
  
}
.telbox h3 {
  padding-left: 145px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #ff5a00;
}

.itembox {
  align :center ;
}